body {
  background: var(--gradient-start-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  align-self: flex-start;
  display: flex;
  flex-direction: column;

  margin: 1rem 2rem;
}

.contact h2 {
  font-size: clamp(2rem, 9vw, 3rem);
  font-weight: 300;
}

#name-input {
  width: 20ch;
}

#subject-input {
  width: 20ch;
}

.contact label {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

#message-input {
  width: 100%;
  max-width: 350px;
  min-height: 150px;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
}

input[type="submit"] {
  border: none;
  width: 50%;
  margin-left: 0;
}

@media screen and (min-width: 769px) {
  .nav {
    align-self: center;
  }
}

#captchaInput {
  margin-bottom: 1rem;
  width: 10ch;
}

.hero-section {
  margin-top: 1rem;
  margin-bottom: 8rem;
}

.hero-section h2 {
  margin-left: 0px;
  margin-bottom: 1rem;
}

.socials-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.socials-content *:before {
  background-color: rgb(71, 71, 71);
}

.socials-content p,
.socials-content a {
  margin: 0;
  color: black;
}
