body {
  background: var(--gradient-end-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 300;
}

.nav__links li a {
  color: white;
}

#hamburger {
  background: var(--hamburger-light-clr);
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-auto-columns: 200px 500px; */
  justify-items: center;
  gap: 5px;
  grid-auto-flow: dense;
  /* height: 100vh; */
}

.grid-box {
  position: relative;
  /* height: 100%; */
}
.grid-box img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}
